*.hmap
*.hprof
*.iml
*.ipa
*.moved-aside
*.xccheckout
*.xcscmblueprint
.DS_Store
.classpath
.gradle/
.idea/
.project
.rubygems/
.settings
.vscode/
Carthage/
DerivedData
Pods/
bin/
build/
gradlew.bat
profile
xcuserdata/
